<%- include("partials/header"); -%>


 <div class="container mw-100 mh-100 mainDiv">
    <!-- <div class="container-fluid  bg-transparent border-0 align-top"> -->
        <div class="row d-inline-table projectsfilter align-top">
            <div class="col" >
                <img src="/img/legend.png" alt="">
            </div>
        
            <div class="col">
                <div class="row">
                    <div class="col-1 d-flex justify-content-end">
                        <i class="fa-solid fa-filter d-inline"></i>
                    </div>
                    <div class="col">
                        <form action="/projetos" method="GET">
                            <select id="status" name="status" class="form-control bg-transparent w-70 justify-content-start" onChange="this.form.submit()">
                                <% items.forEach(function(item){%>
                                    <option class="d-inline-table" value="<%=item.value %>"><%=item.selection%></option>
                                    
                                <%});%>
                            </select>
                        </form>
                    </div>                   
                    
                </div>
            </div>

            </div>
        </form>
    <!-- </div> -->

    <% projs.forEach(function(project){ %>
        

        <a href="/projetos/<%=project._id%>">
            <div class=<%= project.colorStatus %> >
                <h3>
                    <%= project.nomeDoProjeto %>
                </h3>
                <h4>Etapa Atual: <%= project.setorAtual%></h4>
                <p>Solicitação: <%= project.numeroSolicitacao%></p>
                <p>SEI:<%= project.SEI%></p>
                <p>Valor:<%= project.valor%></p>
                
                <p>Descrição:<%= project.descricao.substring(1,50) + "..."%></p>
            </div>
            </a>
        <% }); %>

        <a class="a" href="/home_menu">Voltar</a>
    </div>
    
    





<%- include("partials/footer"); -%>